node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.apk
*.keystore
debug.keystore
capacitor.config.json
package-lock.json
.idea/
.vscode/
*.log
dist/
build/
.android/
ios/